body {
    padding-top: 5rem;
}

.profile{
    padding: 1em;
}

.profile-desc{
    padding: 1em;
}

.page{
    padding: 1em;
}

.profile img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit:cover;
}

.home {
    height: 600px;
    display: grid;
    grid: "1 2";
    grid-column-gap: 20px;
}

.home-img{
    grid-area: "2";
}

.home-img img{
    height: 600px;
    object-fit: cover;
    max-width: 100%;
}

.home-txt{
    grid-area: "1"; 
    align-content: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.layout{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 1em;
}

.layout img{
    height: 250px;
    overflow: hidden;
    object-fit:cover;
}

.cardShadow{
    box-shadow: 5px 8px 6px -1px rgba(0,0,0,0.35)
}