body {
    padding-top: 5rem;
}

.profile{
    max-width: 900px;
    padding: 1em;
}

.profile img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    object-fit:cover;
}

.home {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-img img{
    height: 600px;
    overflow: hidden;
    object-fit: cover;
}

.home-txt{
    align-content: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}